<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topAnimeAPI</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navigation justify-content-center">
          <div class="container">
              <img src="/logo-transparent-png.png" alt="topAnimeLogo" class="logo">
          </div>
     </nav>
     <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 order-md-1 order-2 box1 align-content-center">
                    <div class="components d-flex justify-content-center design flex-column">
                        <div class="rect r1"></div>
                        <div class="rect r2"></div>
                        <div class="rect r3"></div>
                    </div>
                </div>
                <div class="col-md-6 order-md-2 order-1 align-self-center">
                    <div class="heading text-center text-md-left">
                        <h1 class="oswald-heading">TopAnimeApi</h1>
                        <p class="roboto-regular">TopAnimeApi is an open-source REST API for the <em><strong>List of top ranking anime and their details</strong></em>.</p>
                    </div>
                </div>
            </div>
        </div>
        
     </main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>  
</body>
</html>